* {
    padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
    background-color: #5CF64A; 
}

.colorTitle {
    text-decoration-color: blanchedalmond;
}

#txtBusca {
    width: 200px;
    height: 20px;
}

#bttBusca {
    width: 80px;
    height: 25px;
    cursor: pointer;
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    row-gap: 10px;
    column-gap: 10px;
    justify-items: center;
    align-items: center;
    padding: 50px;

}

main>div {
    border: 1px;
    border-style: dotted;
    border-color: #5CF64A;
}

main>div>p {
    color: #5CF64A;
    font-size: large;
    text-align: center;
    border: 5px;
}

footer {
    position:absolute;
	bottom:0;
	width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5CF64A;
    color: #EE4266;
    padding: 9px;
}

/*VIDEO 1 e 2*/
video {
    width: 750px;
    margin:0 auto;
    display: block;
}

.video-nome {
    width: 1030px;
    margin:0 auto;
    display: block;
}